@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout_Index.cshtml";
}

<!DOCTYPE HTML>
<html>

<body>
    <!-- Banner -->
    <section class="banner full">
        <article>
            <img src="~/images/slide1.jpg" alt="" />
            <div class="inner">
                <header>
                    <p>EVENTOS UPC</p>
                    <h2>Eventos</h2>
                </header>
            </div>
        </article>
        <article>
            <img src="~/images/slide2.jpg"   alt="" />
            <div class="inner">
                <header>
                    <p>LOS MEJORES EVENTOS</p>
                    <h2>100% seguro</h2>
                </header>
            </div>
        </article>
        <article>
            <img src="~/images/slide3.jpg" alt="" />
            <div class="inner">
                <header>
                    <p>LOS MEJORES PRECIOS</p>
                    <h2>Calidad Garantizada</h2>
                </header>
            </div>
        </article>
        <article>
            <img src="~/images/slide4.jpg" alt="" />
            <div class="inner">
                <header>
                    <p>EL MEJOR LUGAR</p>
                    <h2>Momento Perfecto</h2>
                </header>
            </div>
        </article>
        <article>
            <img src="~/images/slide5.jpg" alt="" />
            <div class="inner">
                <header>
                    <p>SATISFACCIÓN</p>
                    <h2>Garantizada</h2>
                </header>
            </div>
        </article>
    </section>

    <!-- One -->
    <section id="one" class="wrapper style2">
        <div class="inner">
            <div class="grid-style">

                <div>
                    <div class="box">
                        <div class="image fit">
                         <img src="~/images/slide1.1.jpg" alt="" width="10" height="300" />
                        </div>
                        <div class="content">
                            <header class="align-center">
                                <p>Nuestra pagina es la mas interactiva</p>
                                <h2>100% confiable</h2>
                            </header>
                            <p>Dentro de la pagina podras encontrar los mejores complementos para que tu evento sea inolvidable</p>
                            <footer class="align-center">
                                <a href="#" class="button alt">Leer mas</a>
                            </footer>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="box">
                        <div class="image fit">
                            <img src="~/images/slide 2.2.jpg"  alt="" width="50" height="300" />
                        </div>
                        <div class="content">
                            <header class="align-center">
                                <p>Nuestros proveedores</p>
                                <h2>son los mejores de tu localidad</h2>
                            </header>
                            <p> los productos que ofrecemos son de la mejor calidad y a un buen precio, contamos con un gran catalogo de diseños para todos los gustos</p>
                            <footer class="align-center">
                                <a href="#" class="button alt">Leer mas</a>
                            </footer>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- Two -->
    <section id="two" class="wrapper style3">
        <div class="inner">
            <header class="align-center">
                <p>No te pierdas la oportunidad</p>
                <h2>y ven a cumplir tus sueños</h2>
            </header>
        </div>
    </section>

    <!-- Three -->
    <section id="three" class="wrapper style2">
        <div class="inner">
            <header class="align-center">
                <p class="special">cada evento organizado es especial para nosotros</p>
                <h2>por eso los clientes nos prefieren</h2>
            </header>

        </div>
    </section>


    <!-- Footer -->
    <footer id="footer">
        <div class="container">
            <ul class="icons">
                <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
            </ul>
        </div>
        <div class="copyright">
            &copy; Eventos UPC. All rights reserved.
        </div>
    </footer>
</body>
</html>






@*<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@