@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout_Index.cshtml";
}

<!DOCTYPE HTML>
<html>

<body>
    <br />
    <br />
    <!-- Banner -->
    <section class="banner full">
        <article>
            <img src="~/images/slide01.jpg" alt="" />
            <div class="inner">
                <header>
                    <p>TATOO TEANS</p>
                    <h2>Tatuajes</h2>
                </header>
            </div>
        </article>
        <article>
            <img src="~/images/slide02.jpg" alt="" />
            <div class="inner">
                <header>
                    <p>LOS MEJORES TATUAJES</p>
                    <h2>100% seguro</h2>
                </header>
            </div>
        </article>
        <article>
            <img src="~/images/slide03.jpg" alt="" />
            <div class="inner">
                <header>
                    <p>LOS MEJORES PRECIOS</p>
                    <h2>Calidad Garantizada</h2>
                </header>
            </div>
        </article>
        <article>
            <img src="~/images/slide04.jpg" alt="" />
            <div class="inner">
                <header>
                    <p>EL MEJOR LUGAR</p>
                    <h2>El tatuaje perfecto</h2>
                </header>
            </div>
        </article>
        <article>
            <img src="~/images/slide05.jpg" alt="" />
            <div class="inner">
                <header>
                    <p>DONDE TODOS SALEN</p>
                    <h2>Satisfechos</h2>
                </header>
            </div>
        </article>
    </section>

    <!-- One -->
    <section id="one" class="wrapper style2">
        <div class="inner">
            <div class="grid-style">

                <div>
                    <div class="box">
                        <div class="image fit">
                            <img src="~/images/1.jpg" alt="" width="10" height="300" />
                        </div>
                        <div class="content">
                            <header class="align-center">
                                <p>Nuestra pagina es la mas interactiva</p>
                                <h2>100% confiable</h2>
                            </header>
                            <p>Dentro de la pagina podras encontrar a tu tatuador favorito, podrás disfrutar de un cómodo y acogedor ambiente, al cual querras volver para otro tatuaje.</p>
                            <footer class="align-center">
                                <a href="#" class="button alt">Leer mas</a>
                            </footer>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="box">
                        <div class="image fit">
                            <img src="~/images/2.jpg" alt="" width="50" height="300" />
                        </div>
                        <div class="content">
                            <header class="align-center">
                                <p>Nuestros tatuadores</p>
                                <h2>son los mejores de la region</h2>
                            </header>
                            <p> los productos que vendemos son de la mejor calidad y a un buen precio, contamos con un gran catalogo de diseños para todos los gustos</p>
                            <footer class="align-center">
                                <a href="#" class="button alt">Leer mas</a>
                            </footer>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- Two -->
    <section id="two" class="wrapper style3">
        <div class="inner">
            <header class="align-center">
                <p>No te pierdas la oportunidad</p>
                <h2>y ven a cumplir tus sueños</h2>
            </header>
        </div>
    </section>

    <!-- Three -->
    <section id="three" class="wrapper style2">
        <div class="inner">
            <header class="align-center">
                <p class="special">cada pedido es especial para nosotros</p>
                <h2>por eso los clientes vuelven</h2>
            </header>

        </div>
    </section>


    <!-- Footer -->
    <footer id="footer">
        <div class="container">
            <ul class="icons">
                <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
            </ul>
        </div>
        <div class="copyright">
            &copy; Tatoo Teans. All rights reserved.
        </div>
    </footer>
</body>
</html>
@*<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@