
@{
    ViewBag.Title = "Pregutasfrecuentes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<br />

<div style="background-color:ghostwhite">
    <h2><strong>Preguntas Frecuentes</strong></h2>

    <table class="table table-bordered">

        <tr>
            <td class="col-lg-2">
                <button type="button" class="col-lg-6" onclick="document.getElementById('1').style.display = 'block'">ver</button>
                <button type="button" class="col-lg-6" onclick="document.getElementById('1').style.display = 'none'">ocultar</button>
            </td>
            <td class="col-lg-10">
                <h4>
                    <strong> ¿Realizarme un tatuaje es doloroso?</strong>
                </h4>
                <p style="display: none" id='1'>
                    El área del cuerpo a tatuar, así como la tolerancia de cada persona, hace que la sensación sea de mayor o menor dolor, cuando se tatúa cerca del hueso la sensación es un poco más fuerte que donde hay más músculo o grasa.

                </p>
            </td>
        </tr>

        <tr>
            <td class="col-lg-2">
                <button type="button" class="col-lg-6" onclick="document.getElementById('2').style.display = 'block'">ver</button>
                <button type="button" class="col-lg-6" onclick="document.getElementById('2').style.display = 'none'">ocultar</button>
            </td>
            <td class="col-lg-10">
                <h4>
                    <strong>¿Qué  debo considerar antes de hacerme un tatuaje?</strong>
                </h4>
                <p style="display: none" id='2'>
                    Lo más importante es que el lugar donde te vayas a realizar el tatuaje sea un lugar profesional con las mejores condiciones de higiene, establecido, con cuartos separados de los demás actividades (perforaciones, lavado y esterilización), con tatuadores registrados, profesionales, con ética y buen trato hacia el cliente.

                </p>
            </td>
        </tr>

        <tr>
            <td class="col-lg-2">
                <button type="button" class="col-lg-6" onclick="document.getElementById('3').style.display = 'block'">ver</button>
                <button type="button" class="col-lg-6" onclick="document.getElementById('3').style.display = 'none'">ocultar</button>
            </td>
            <td class="col-lg-10">
                <h4>
                    <strong>¿Qué equipo se utilizará para la realización de mi tatuaje?</strong>
                </h4>
                <p style="display: none" id='3'>
                    El equipo principalmente consta de  una fuente de poder, un pedal, un clipcord, la máquina, tubos, grip, agujas, depósitos para tinta y la tinta, ungüento, guantes, cubrebocas, por mencionar los más comunes.

                </p>
            </td>
        </tr>


        <tr>
            <td class="col-lg-2">
                <button type="button" class="col-lg-6" onclick="document.getElementById('4').style.display = 'block'">ver</button>
                <button type="button" class="col-lg-6" onclick="document.getElementById('4').style.display = 'none'">ocultar</button>
            </td>
            <td class="col-lg-10">
                <h4>
                    <strong>¿Qué tintas se usan para el tatuaje?</strong>
                </h4>
                <p style="display: none" id='4'>
                    Las tintas están hechas a base de carbón las cuales  son inofensivos al organismo, las diferentes tonalidades de colores cuentan con una pequeña cantidad de metal que dé el color, revisa siempre que la tinta sea de una marca lider en el mercado, la fecha de caducidad y la condición del envase.

                </p>
            </td>
        </tr>


        <tr>
            <td class="col-lg-2">
                <button type="button" class="col-lg-6" onclick="document.getElementById('5').style.display = 'block'">ver</button>
                <button type="button" class="col-lg-6" onclick="document.getElementById('5').style.display = 'none'">ocultar</button>
            </td>
            <td class="col-lg-10">
                <h4>
                    <strong>¿De qué forma se realiza la pigmentación en mi piel?</strong>
                </h4>
                <p style="display: none" id='5'>
                    Cuando tenemos la aguja, ésta entra a la epidermis, de ahí sigue a la dermis, en esta parte nuestro cuerpo cuenta con unas células que se llaman macrófagos, estas células detectan a la tinta como un agente externo al organismo, ocasionando que éstas encapsulen la tinta impidiéndola moverse, por ese motivo tenemos “células pintadas” que hacen la pigmentación.

                </p>
            </td>
        </tr>

        <tr>
            <td class="col-lg-2">
                <button type="button" class="col-lg-6" onclick="document.getElementById('6').style.display = 'block'">ver</button>
                <button type="button" class="col-lg-6" onclick="document.getElementById('6').style.display = 'none'">ocultar</button>
            </td>
            <td class="col-lg-10">
                <h4>
                    <strong>¿Se puede o debe reusar el equipo?</strong>
                </h4>
                <p style="display: none" id='6'>
                    Cuando tenemos la aguja, ésta entra a la epidermis, de ahí sigue a la dermis, en esta parte nuestro cuerpo cuenta con unas células que se llaman macrófagos, estas células detectan a la tinta como un agente externo al organismo, ocasionando que éstas encapsulen la tinta impidiéndola moverse, por ese motivo tenemos “células pintadas” que hacen la pigmentación.

                </p>
            </td>
        </tr>

        <tr>
            <td class="col-lg-2">
                <button type="button" class="col-lg-6" onclick="document.getElementById('7').style.display = 'block'">ver</button>
                <button type="button" class="col-lg-6" onclick="document.getElementById('7').style.display = 'none'">ocultar</button>
            </td>
            <td class="col-lg-10">
                <h4>
                    <strong>¿Qué cuidados debo tener después con mi tatuaje?</strong>
                </h4>
                <p style="display: none" id='7'>
                    Básicamente lavar el tatuaje con agua tibia, jabón neutro y aplicar la pomada que el tatuador recomiende. Todo eso por unos 15 días, recuerda que cada persona es distinta y cicatriza de diferente manera. También hay que evitar albercas, baños públicos, agua del mar y el Sol. Procura lo más sano, lo mejor para una buena y pronta cicatrización.

                </p>
            </td>
        </tr>

        <tr>
            <td class="col-lg-2">
                <button type="button" class="col-lg-6" onclick="document.getElementById('8').style.display = 'block'">ver</button>
                <button type="button" class="col-lg-6" onclick="document.getElementById('8').style.display = 'none'">ocultar</button>
            </td>
            <td class="col-lg-10">
                <h4>
                    <strong>¿En cuánto tiempo tengo que retocar mi tatuaje?</strong>
                </h4>
                <p style="display: none" id='8'>
                    No “se tiene que” retocar un tatuaje, pero claro, hay factores que con el tiempo llegan a opacar el trabajo y entonces se puede retocar si uno lo requiere.

                </p>
            </td>
        </tr>
        <tr>
            <td class="col-lg-2">
                <button type="button" class="col-lg-6" onclick="document.getElementById('9').style.display = 'block'">ver</button>
                <button type="button" class="col-lg-6" onclick="document.getElementById('9').style.display = 'none'">ocultar</button>
            </td>
            <td class="col-lg-10">
                <h4>
                    <strong>¿Usarán anestesia?</strong>
                </h4>
                <p style="display: none" id='9'>
                    No, es riesgoso eso es algo que sólo un especialista puede hacer y nosotros no somos anestesiólogos, lo mejor es que mantengas una respiración larga y profunda y asimiles la sensación de ardor y así sobrellevarlo.

                </p>
            </td>
        </tr>

        <tr>
            <td class="col-lg-2">
                <button type="button" class="col-lg-6" onclick="document.getElementById('10').style.display = 'block'">ver</button>
                <button type="button" class="col-lg-6" onclick="document.getElementById('10').style.display = 'none'">ocultar</button>
            </td>
            <td class="col-lg-10">
                <h4>
                    <strong>¿Puedo hacer ejercicio después de hacerme el tatuaje?<</strong>
                </h4>
                <p style="display: none" id='10'>
                    Depende el tamaño y el área donde te lo hiciste, también del cuidado higiénico que tengas, usar aparatos que han usado otras personas puede contaminar el área tatuada con los fluidos de sudor, si el tatuador te recomienda que mejor reposes, hazlo.

                </p>
            </td>
        </tr>

        <tr>
            <td class="col-lg-2">
                <button type="button" class="col-lg-6" onclick="document.getElementById('11').style.display = 'block'">ver</button>
                <button type="button" class="col-lg-6" onclick="document.getElementById('11').style.display = 'none'">ocultar</button>
            </td>
            <td class="col-lg-10">
                <h4>
                    <strong>¿Saldrá sangre en el área donde realizaran mi tatuaje?<</strong>
                </h4>
                <p style="display: none" id='11'>
                    Comúnmente si, pero es mínimo casi ni se nota al menos que sea tinta de color claro.
                </p>
            </td>
        </tr>

        <tr>
            <td class="col-lg-2">
                <button type="button" class="col-lg-6" onclick="document.getElementById('12').style.display = 'block'">ver</button>
                <button type="button" class="col-lg-6" onclick="document.getElementById('12').style.display = 'none'">ocultar</button>
            </td>
            <td class="col-lg-10">
                <h4>
                    <strong>¿Después de realizar mi tatuaje podré donar sangre?<</strong>
                </h4>
                <p style="display: none" id='12'>
                    Sí claro, siempre y cuando sea después de 3, 6 o hasta 12 meses. La sangre no se contamina con las tintas a menos que el proceso no se lleve a cabo con la higiene adecuada, por eso es importante que te lo hagas en un estudio profesional, que te informes bien y que verifiques que su área de trabajo sea la adecuada. Si en un banco de sangre no te aceptan, están discriminándote. Depende el país en donde estés, es que se da un periodo de espera ante una situación de riesgo, misma que puede ser por relaciones sexuales sin protección, compartir agujas etc.
                </p>
            </td>
        </tr>
    </table>
</div>