<style>
    .vertical-menu {
        width: 200px; /* Set a width if you like */
    }

        .vertical-menu a {
            background-color: #eee; /* Grey background color */
            color: black; /* Black text color */
            display: block; /* Make the links appear below each other */
            padding: 12px; /* Add some padding */
            text-decoration: none; /* Remove underline from links */
        }

            .vertical-menu a:hover {
                background-color: #ccc; /* Dark grey background on mouse-over */
            }

            .vertical-menu a.active {
                background-color: #4CAF50; /* Add a green color to the "active/current" link */
                color: white;
            }
</style>
<div class="vertical-menu">
    <br />
    <br />
    <br />
    <a href="#" class="active">Opciones</a>
    <a href="/Usuarios/Index">Usuario</a>
    <a href="/TipoUsuarios/Index">Tipo Usuario</a>
    <a href="/Productoes/Index">Productos</a>
    <a href="/CategoriaProductoes/Index">Categoria Productos</a>
    <a href="/CategoriaTatuajes/Index">Categoria Tatuaje</a>
    <a href="/CompraDetalles/Index">Compra Detalles</a>
    <a href="/FacturaCompras/Index">Facturas Compras</a>
    <a href="/LocalPorUsuarioPorCategorias/Index">Local Por Usuario Por Categoria</a>
    <a href="/Locals/Index">Local</a>
    <a href="/Opinions/Index">Opinones</a>
    <a href="/Reservas/Index">Reservas</a>
    <a href="/TipoDePagoes/Index">Tipo de Pago</a>
    <a href="/TrabajoRealizadoes/Index">Trabajos Realizados</a>
    <a href="/UsuarioPorCategorias/Index">Tatuadores Por Categoria</a>

</div>